<!-- FOOTER START -->
<footer class="site-footer footer-large footer-dark footer-wide">
    <!-- FOOTER BLOCKES START -->
    <div class="footer-top overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="row">
                <!-- ABOUT COMPANY -->
                <div class="col-lg-6 col-md-12 col-sm-12 footer-col-6">
                    <div class="widget widget_about">
                        {{partial "logo-footer" .}}
                        <p class="max-w400">
                            
                        </p>

                        <!-- 
                        <ul class="social-icons  mt-social-links">
                            <li><a href="javascript:void(0);" class="fa fa-google"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                        </ul>
                        -->
                    </div>
                </div>

                

                <!-- USEFUL LINKS -->
                <div class="col-lg-6 col-md-12 col-sm-12 footer-col-6">
                    <div class="widget widget_services inline-links">
                        <h4 class="widget-title">Menu</h4>
                        <ul>
                            {{ $currentPage := . }}
                            {{ range .Site.Menus.footer }}
                            <li>
                                <a href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER COPYRIGHT -->
    <div class="footer-bottom overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="row">
                <div class="mt-footer-bot-center">
                    <span class="copyrights-text">© {{ now.Format "2006" }} Bisnis.TECH. Ulasan bisnis dan teknologi.</span>
                    <br>
                    <a href="{{.Site.BaseURL}}/sitemap.xml" class="text-primary">Sitemap</a> &bull;
                    <a href="{{.Site.BaseURL}}/kebijakan-privasi" class="text-primary">Kebijakan Privasi</a> &bull;
                    <a href="{{.Site.BaseURL}}/persyaratan-layanan" class="text-primary">Persyaratan Layanan</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->

<!-- BUTTON TOP START -->
<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>

</div>

<!-- LOADING AREA START ===== -->
<div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
        <div class="cssload-loader">Loading</div>
    </div>
</div>
<!-- LOADING AREA  END ====== -->

<!-- JAVASCRIPT  FILES ========================================= -->
<script type="text/javascript" src="{{ .Site.BaseURL }}/js/jquery-1.12.4.min.js"></script><!-- JQUERY.MIN JS -->
<script type="text/javascript" src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->

<!-- <script type="text/javascript" src="{{ .Site.BaseURL }}/js/magnific-popup.min.js"></script>MAGNIFIC-POPUP JS -->

<script type="text/javascript" src="{{ .Site.BaseURL }}/js/waypoints.min.js"></script>
<!-- <script type="text/javascript" src="{{ .Site.BaseURL }}/js/counterup.min.js"></script>COUNTERUP JS -->
<script type="text/javascript" src="{{ .Site.BaseURL }}/js/waypoints-sticky.min.js"></script>

<script type="text/javascript" src="{{ .Site.BaseURL }}/js/isotope.pkgd.min.js"></script><!-- MASONRY  -->

<!-- <script type="text/javascript" src="{{ .Site.BaseURL }}/js/owl.carousel.min.js"></script>OWL  SLIDER  -->
<!-- <script type="text/javascript" src="{{ .Site.BaseURL }}/js/jquery.owl-filter.js"></script> -->

<!-- <script type="text/javascript" src="{{ .Site.BaseURL }}/js/stellar.min.js"></script>PARALLAX BG IMAGE   -->



<script type="text/javascript" src="{{ .Site.BaseURL }}/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<!-- <script type="text/javascript" src="{{ .Site.BaseURL }}/js/shortcode.js"></script>SHORTCODE FUCTIONS  -->
<!-- <script type="text/javascript" src="{{ .Site.BaseURL }}/js/jquery.bgscroll.js"></script>BACKGROUND SCROLL -->

{{ if eq .Kind "home" }}
<!-- REVOLUTION JS FILES -->
<!-- <script type="text/javascript"
    src="{{ .Site.BaseURL }}/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript"
    src="{{ .Site.BaseURL }}/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script> -->

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<!-- <script type="text/javascript"
    src="{{ .Site.BaseURL }}/plugins/revolution/revolution/js/extensions/revolution-plugin.js"></script>

 REVOLUTION SLIDER SCRIPT FILES
<script type="text/javascript" src="{{ .Site.BaseURL }}/js/rev-script-2.js"></script> -->
{{ end }}

</body>

</html>