<div class="top-bar bg-gray">
    <div class="container">
        <div class="row">
            <div class="mt-topbar-left clearfix">
                <ul class="list-unstyled e-p-bx pull-right">
                    <li>
                        <a href="mailto:sales@adibratagraha.com" style="color: black;">
                            <i class="fa fa-envelope"></i> sales@adibratagraha.com
                        </a>
                    </li>
                    <li>
                        <a href="tel:+6283873544537" style="color: black;">
                            <i class="fa fa-phone"></i>+62-838-7354-4537
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mt-topbar-right clearfix">
                <div class="appint-btn"><a href="https://api.whatsapp.com/send?phone=6283873544537"
                        class="site-button">WhatsApp</a></div>
            </div>
        </div>
    </div>
</div>