<!-- MAIN Vav -->
<div class="header-nav navbar-collapse collapse">
    <ul class=" nav navbar-nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <li class='{{ if $currentPage.HasMenuCurrent "main" . }} active nav-active{{ end }}"'>
                <a href="javascript:void(0);">{{ .Name }}</a>
                <ul class="sub-menu">
                    {{ range .Children }}                        
                        {{ if .HasChildren }}   
                            <li class='{{ if $currentPage.HasMenuCurrent "main" . }} active nav-active{{ end }}"'>
                                <a href="javascript:void(0);">{{ .Name }}</a>
                                <ul class="sub-menu has-child">                                    
                                {{ range .Children }}
                                    <li class='{{ if $currentPage.IsMenuCurrent "main" . }} active {{ end }}'>
                                        <a href="{{ .URL }}">{{ .Name }}</a>
                                    </li>
                                {{end}}
                                </ul>
                            </li>
                        {{else}}
                        <li class='{{ if $currentPage.IsMenuCurrent "main" . }} active {{ end }}'>
                            <a href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                        {{end}}
                    {{ end }}
                </ul>
            </li>
            {{ else }}
            <li class='{{ if $currentPage.IsMenuCurrent "main" . }} active {{ end }}"'>
                <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        {{ end }}
    </ul>
</div>