{{ partial "amp/header" . }}

<div class="page-content">
    <div class="page-content-scroll">
        <div class="heading-block">
            <h4>{{ .Title }}</h4>
            <div class="overlay"></div>
        </div>

        <div class="content">
            <ul>
                {{ range .Paginator.Pages  }}
                {{ $title := .Title }}
                <li>
                    {{ with .OutputFormats.Get "AMP" -}}
                    <a href="{{ .Permalink }}">{{$title}}</a>
                    {{- end }}
                </li>
                {{ end }}
            </ul>
            {{ partial "amp/paginator" . }}
        </div>
    </div>
</div>



{{ partial "amp/footer" . }}