{{ partial "header" . }}

<!-- SECTION CONTENT START -->
<div class="section-full p-tb50">
    <!-- GALLERY CONTENT START -->
    <div class="container clearfix">
        <div class="portfolio-wrap mfp-gallery news-masonry clearfix row">
                <!-- POST -->
                {{ range .Paginator.Pages }}
                <div class="masonry-item col-md-4 col-sm-6">
                    <div class="blog-post blog-grid date-style-1">
                        <!-- <div class="mt-post-media mt-img-effect zoom-slow">
                            <a href="javascript:void(0);"><img src="{{.Site.BaseURL}}/images/blog/blog-grid/pic4.jpg" alt=""></a>
                        </div> -->
                        <div class="p-tb20 bg-white">
                            <div class="mt-post-info">
                                <div class="mt-post-meta ">
                                    <ul>
                                    <li class="post-date"><strong class="text-primary">{{ .Date.Format "02" }}</strong> <span>{{ .Date.Format "Jan 2006" }}</span></li>
                                    <li class="post-author">By <a href="javascript:;">Admin</a> </li>                                               
                                </ul>
                                </div>                                        
                                <div class="mt-post-title ">
                                    <h4 class="post-title"><a href="{{.Permalink}}" class=" font-weight-600 m-t0">{{ .Title }}</a></h4>
                                </div>
                                <div class="mt-post-text">
                                    <p>{{ .Summary }}</p> 
                                </div>
                                <a href="{{.Permalink}}" class="site-button btn-effect ">Lanjut baca</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}                         
                <!-- POST END -->
        </div>
        {{ template "_internal/pagination.html" . }}                                 
     </div>
    <!-- GALLERY CONTENT END -->

</div>
<!-- SECTION CONTENT END  -->

{{ partial "footer" . }}

