{{ partial "header" . }}

<div class="section-full p-tb80">
    <div class="container">

        <div class="blog-post date-style-3 blog-detail text-black">
            <div class="mt-post-meta ">
                <ul>
                    <li class="post-date">{{.Date.Format "2 Jan 2006"}}</li>
                    <li class="post-author"><a href="javascript:void(0);">By <span>Admin</span></a> </li>
                </ul>
            </div>

            <div class="mt-post-title ">
                <h2 class="post-title">{{ .Title }}</h2>
            </div>

            <div class="mt-post-text font-16">
                {{.Content}}    
            </div>

            <div class="autor-post-tag-share bdr-t-1 bdr-solid bdr-gray p-t20">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="widget widget_tag_cloud">
                            <h4 class="tagcloud">Tags</h4>
                            <div class="tagcloud">
                                {{ $siteurl := .Site.BaseURL }}
                                {{ range .Params.tagar }}
                                <a href="{{ $siteurl }}/tagar/{{ . | urlize }}">{{ . }}</a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="mt-box">

                            <div class="clearfix">
                                <h4>Share this Post:</h4>
                                <div class="widget_social_inks">
                                    <ul class="social-icons social-md social-square social-dark m-b0">
                                        <li>
                                            <a href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink}}" class="fa fa-facebook"></a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/intent/tweet?url={{.Permalink}}&text={{.Title}}&hashtags={{.Params.hash}}" class="fa fa-twitter"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- OUR BLOG START -->

        <!-- TITLE START -->
        <div class="section-head ">
            <div class="mt-separator-outer separator-left">
                <div class="mt-separator">
                    <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Related</span>
                        Posts</h2>
                </div>
            </div>
        </div>
        <!-- TITLE END -->

        <!-- IMAGE CAROUSEL START -->
        <div class="section-content">
            <div class="row">
                {{ $related := .Site.RegularPages.Related . | first 3 }}
                {{ with $related }}
                    {{ range . }}                 
                
                    <div class="col-md-4 col-sm-6">
                        <div class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30">
                            <div class="mt-post-info p-a30 bg-gray">
                                <div class="post-overlay-position">
                                    <div class="mt-post-meta ">
                                        <ul>
                                            <li class="post-date">{{.Date.Format "2 Jan 2006"}}</li>
                                            <li class="post-author">By <a href="javascript:;">Admin</a> </li>
                                        </ul>
                                    </div>
                                    <div class="mt-post-title ">
                                        <h4 class="post-title m-b0">{{.Title}}</h4>
                                    </div>
                                    <div class="mt-post-text">
                                        <p>{{.Summary}}</p>
                                    </div>
                                    <div class="readmore-line">
                                        <span><a href="{{.Permalink}}" class="site-button-link" data-hover="Baca selengkapnya">Baca selengkapnya <i
                                                    class="fa fa-angle-right arrow-animation"></i></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>

    </div>
</div>

{{ partial "footer" . }}