<!-- MainNav -->
<nav class="navbar-collapse collapse" id="mainnav">
    <ul class="nav navbar-nav">
        <li>
            <a href="{{ .Site.BaseURL }}adsense">Panduan AdSense</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}bisnis-online">Bisnis Online</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}waralaba">Waralaba</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}inspirasi">Inspirasi & Kisah Sukses</a>
        </li>  
        <li>
            <a href="{{ .Site.BaseURL }}fakta-unik">Fakta Unik</a>
        </li>     
        <!--  
        <li>
            <a href="{{ .Site.BaseURL }}investasi">Investasi</a>
        </li> 
        <li class="dropdown">
            <a href="{{ .Site.BaseURL }}#">Download</a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ .Site.BaseURL }}">Sertifikat IPEX</a>
                </li>
                <li>
                    <a href="{{ .Site.BaseURL }}">Sertifikat FIP</a>
                </li>
                <li>
                    <a href="{{ .Site.BaseURL }}">Sertifikat TORO</a>
                </li>
            </ul>
        </li>
        -->
    </ul>
</nav>
<!-- #end MainNav -->