<!-- MainNav -->
<nav class="navbar-collapse collapse" id="mainnav">
    <ul class="nav navbar-nav">
        <li>
            <a href="{{ .Site.BaseURL }}berita">Berita</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}peluang-usaha">Peluang Usaha</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}bisnis-online">Bisnis Online</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}waralaba">Waralaba</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}inspirasi">Inspirasi & Kisah Sukses</a>
        </li>
       
    </ul>
</nav>
<!-- #end MainNav -->