{{ partial "header" . }}

<!-- CONTENT -->
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4>{{ .Title }}</h4>
                {{ .Content }}
                <br>
                <p>
                    Tagar:
                    {{ $siteurl := .Site.BaseURL }}
                    {{ range .Params.tagar }}
                    #<a href="{{ $siteurl }}tagar/{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->

{{ partial "footer" . }}